<div class="container">
  <div>
    <div>
      <span class="title">THE AGH'S RESTAURANT WELCOMES YOU!</span>
      <span class="btnSuperTitle">ORDER ONLINE NOW!</span>
    </div>
    <span class="additional">HOW IT LOOKS LIKE INSIDE</span>
    <img src="{{photoURL}}" alt="" />
    <span class="additional extra-gap">OUR ADDRESS: Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie, 30-001 Kraków</span>
    <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Wydzia%C5%82%20Informatyki,%20Elektroniki%20i%20Telekomunikacji%20Akademii%20G%C3%B3rniczo-Hutniczej%20w%20Krakowie&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br></div></div>
    <div>
      <span class="additional extra-gap">CONTACT</span>
      <span>PHONE: +48-434-434-343</span>
      <span>E-MAIL: mail@mail.com</span>
    </div>
  </div>
</div>
